[2015-10-29 16:14] santimacia opened #4 "Create array of events?"
Is possible to create an array of events with this library?

[2016-05-16 14:49] rubenabergel opened #6 "best practice for saving ICS files"
It is said that files are saved in the "operating system's temporary directory". Was curious to know if you would recommend people to store these files elsewhere and how?
Thanks

[2016-06-20 10:58] EivindEE opened #7 "Missing licence"
If you want others to be able to use this package you should add a licence.

FYI
Code published on Github without an explicit license is protected by copyright and is by default All Rights Reserved.
http://stackoverflow.com/questions/4007674/whats-the-default-license-of-code-published-at-github

[2016-09-03 23:50] #7 closed

[2016-09-03 23:50] adamgibbons commented on #7
Thanks @EivindEE

[2016-12-08 19:23] adamgibbons commented on #6
Saving to the temp directory was just a default behavior decision so that a user couldn't inadvertently create a bunch of events that never get cleaned up. You should save the file to whatever destination is easiest to access for you given your business requirements.

[2016-12-08 19:23] #6 closed

[2016-12-08 19:23] adamgibbons commented on #4
It's not possible but will tag as a feature request.

[2016-12-08 19:24] #4 closed

[2016-12-21 16:59] rdubigny opened #17 "Unable to use this lib in the front"
This lib can't be used in a browser since there is a dependance with `fs` https://github.com/adamgibbons/ics/blob/master/lib/ics.js#L2 .

@adamgibbons can you make this requirement optionnal ?

[2017-01-09 02:06] adamgibbons commented on #17
@rdubigny I agree this would make it more useful. Will put it on the to-do shortlist :-)

[2017-01-24 02:18] darylteo commented on #17
This library can be used without 'fs' by avoiding `createEvent` method (as that writes to a file). Use `buildEvent` instead to get a string representation.

In webpack, we also have to shim fs with https://webpack.github.io/docs/configuration.html#node

[code]

Hope that helps.

[2017-02-24 15:11] marisaroque opened #19 ".ics filename"
Can you please tell me if it is possible to change the name of .ics filename and how.

Thanks for your work.

[2017-03-01 01:52] cava23 opened #20 "Why are ISO start times converted to iCal local time?"
When I provide this library a start time in ISO format, the resulting iCal string has the start time as local time (Form #1 in the RFC, https://icalendar.org/iCalendar-RFC-5545/3-3-5-date-time.html). I would expect an absolute time to remain absolute in the resulting iCal string (Form #2). Specifically, what is the purpose of line 83 in lib/ics.js? How can I specify that the iCal string use form #

[2017-03-01 20:25] emilianop11 commented on #20
I have exactly the same problem, Im providing the starting and ending time in Form 2, but the output is automatically moved to form 1. I think it should be kept in form 1 with no changes.

[2017-03-03 00:05] cava23 commented on #20
@emilianop11 I added support for DSTART here: https://github.com/Tredsite/ics

[2017-03-15 19:21] barrypeterson commented on #19
If you're using this lib to create the file dynamically, just sent to route to include the extension, set headers correctly, and all will work. Hope that helps a bit

[2017-03-22 02:08] dennishansen opened #22 "Would be great if it supported alerts/alarms"
Alarms (alerts) are addable via the VALARM entry.

[2017-03-23 23:23] adamgibbons commented on #19
@marisaroque - if I understand you correctly, you're asking about changing the file extension from `.ics` to something else - this library doesn't expose a way to do that in the API. I'll put it on the requested features list.

[2017-03-23 23:23] #19 closed

[2017-03-23 23:25] #17 closed

[2017-03-27 21:41] davidschlachter opened #23 "Organizer doesn't work"
The [organizer](https://tools.ietf.org/html/rfc5545#page-111) field was added in ade14c6a9bec784be095fde5354cf6e30705d344, but doesn't seem to work anymore.

e.g., ran [`ex/app.js`](https://github.com/adamgibbons/ics/blob/master/ex/app.js) to create ics file by accessing `/create` endpoint. `options` for the new event includes:

[code]

but outputted file does not contain the organizer:

[code]

[2017-03-31 15:43] #23 closed

[2017-04-05 22:39] michaelbina commented on #22
I just coded this up and made a pull request here: https://github.com/adamgibbons/ics/pull/26

If you want to use it before this gets merged, use this repo: https://github.com/creativelive/ics

[2017-04-06 22:39] adamgibbons commented on #22
Addressed by #26

[2017-04-06 22:39] #22 closed

[2017-04-09 02:38] Mikeks81 opened #27 "is this supported in safari??"
I'm having problems getting safari to name the file and not save as "unknown". it does go to the downloads however when opened it's in text/edit.  On download i do get an error of 'Failed to load resource: Frame load interrupted'  in the browser console.

[2017-04-12 03:07] adamgibbons commented on #27
@Mikeks81 you're the first to point this out. Haven't checked it myself but I'll look into it when I get a chance.

[2017-04-12 03:16] adamgibbons commented on #27
maybe related? http://stackoverflow.com/questions/15439922/datauri-for-ical-does-not-work-on-android-or-iphone

[2017-04-15 22:59] tamoyal commented on #20
There def seems to be some weird default behavior for end time! @cava23 Thanks for the fix. The issue can be replicated by ...
[code]

[2017-05-01 21:29] loborobo opened #28 "Could you add support for UTC end time too?"

[2017-06-15 06:02] mhewett commented on #28
Totally agree.  Start time and End time processing should be exactly the same in the simplest case.  End time doesn't handle UTC correctly.

[2017-07-06 16:54] AndrewLane opened #29 "This library forces you to use files, correct?"
Am I correct that this library forces you to write the data out to an ics file?  I'm looking for something that just returns me a string or something and I can just stream it back to the user without having to write to a file.

[2017-07-20 16:11] nathanieltagg opened #30 "Support for recurring events?"
This looks nice, but I'd like to use it to generate events for classes. Any support for recurring events likely?

[2017-07-27 03:35] adamgibbons commented on #29
Incorrect - use the `buildEvent` to return a string.

[2017-07-27 03:35] #29 closed

[2017-07-27 03:39] adamgibbons commented on #30
I haven't had a chance to work on this in a while, but definitely agree this would be a nice feature. Happy to accept a PR if you end up writing anything!

[2017-07-28 13:28] knoblochtobias opened #31 "handle line breaks in description"
New lines need to be converted in the description. I used this hack to get a valid multiline description:
[code]

[2017-07-31 20:19] Raghavendra92 commented on #27
Is this still open? Even I have the same issue..does not work on safari

[2017-07-31 21:00] Mikeks81 commented on #27
If the problem is that you're using safari 10.1 or below the problem might be that it doesn't like the download attr.
[http://caniuse.com/#feat=download ](http://caniuse.com/#feat=download )

[2017-07-31 21:10] Raghavendra92 commented on #27
hmm..I am facing this issue on safari-desktop..as per the link it says 10.1 should support download attr

[2017-08-01 14:32] Mikeks81 commented on #27
Sorry, i meant below 10.1. Is the 'untitled' ics file downloading with valid content and the name is untitled or is it not a valid ICS file?

[2017-08-01 15:03] Raghavendra92 commented on #27
It works on 10.1 . I was trying to open the data uri with window.open..when
I use href it works fine..thanks for the help

On Tue, Aug 1, 2017 at 7:32 AM Michael Simonitsch <notifications@github.com>
wrote:

[2017-09-20 22:20] dylanjha commented on #28
@adamgibbons care to chime in here?

Is there a reason UTC end time isn't supported, this seems to be breaking some versions of Outlook Calendar.

[2017-09-21 03:32] adamgibbons commented on #28
Looks like this is a bug - I'm happy to take a PR if anyone wants to fix it. I'm trying to release #32 ASAP which should resolve this.

[2017-09-21 15:54] dylanjha commented on #28
@adamgibbons thanks for confirming the bug! @mcassagnes or I might be able to take a stab at patching this, would it be better to branch off v2 and work off that or better to branch off master and patch?

[2017-09-22 05:36] crebelsky opened #33 "support for multiple VEVENT in VCALENDAR"
I'm planning to create some kind of event calendar, with several events coming from a api. Is it planned to implement some option to create multiple VEVENT's?

@adamgibbons thanks for the work so far!

[2017-09-25 19:21] adamgibbons commented on #28
@dylanjha up to you. v2 is where the energy is going so I'd say work off that - however if you need the patch in production right now, I'll merge your fix into master and publish it to npm.

[2017-09-25 19:27] adamgibbons commented on #33
@crebelsky I can put this on the roadmap. In the meantime, you can probably create an array of event objects doing something like `[{ event1 }, { event2 }, ...].map(ics.buildEvent)`.

[2017-09-26 08:06] crebelsky commented on #33
@adamgibbons thanks for putting this on the map. I already did it with a array and some more changes. Works as expected for now! Looking forward to v2!

[2017-10-02 15:03] adamgibbons commented on #20
Closing because this issue should be resolved by upgrading to v2.

[2017-10-02 15:03] #20 closed

[2017-10-02 15:05] adamgibbons commented on #28
Closing because v2 has been released.

[2017-10-02 15:05] #28 closed

[2017-10-02 15:06] #27 closed

[2017-11-03 15:38] dlarr opened #38 "Module not found Error: Can't resolve 'dns'"
Hello,

I am trying to use this library (many thanks by the way)

But as soon as I use the function ics.createEvent() I get a transpile error (see below)

Could you please help me overcome this.

Best regards.

ERROR in ./node_modules/isemail/lib/index.js
Module not found: Error: Can't resolve 'dns' in 'C:\_dev\nsi\colibri\client\node_modules\isemail\lib'
resolve 'dns' in 'C:\_dev\nsi\colibri\clie

[2017-11-04 11:23] panzupa opened #39 "Compatibility with Outlook and iOS"
Hi,

I've started using this lib and it works great for Gmail. Email with ics attachment is recognized as meeting invite by Gmail, and special template for displaying meeting information is applied by Gmail.

Unfortunately, this does not happen when the same email with sam ics file is sent to somone@icloud.com / iOS device. It's displayed as an ordinary email with an attachment.  Polish popular em

[2017-11-07 04:57] adamgibbons commented on #38
Hi @dlarr - it seems as though you're referencing a module `dns` that node can't find. Did you include it in your `package.json`? I am not familiar with your project or the Windows environment, but I don't believe your issue is related to the `ics` project so I'm closing this issue. Sorry I can't be of more help and good luck!

[2017-11-07 05:03] adamgibbons commented on #39
@panzupa I have admittedly not tried this on MS Outlook or iOS, though I do know it works on current and previous versions of the OS X Calendar application. If you would like to troubleshoot any of this and submit a PR I'm happy to merge or help out.

[2017-11-07 07:46] dlarr commented on #38
Hi,

I really think there's a dependency problem, realted to isemail, using dns. This error only occurs when I use ics, and ics librairy methods. We had to move on and we used ics-js lib instead, which is a shame because your lib is a lot easier and nicer to use. I didnt want to add dns librairy in package.json because i have no use for it.

Anyway, thank for your reply and your time :)

Best rega

[2017-11-14 06:34] hibangun commented on #33
@crebelsky @adamgibbons do you have code example for this?

[2017-11-18 19:08] adamgibbons commented on #33
@hibangun here you go - https://github.com/adamgibbons/ics/wiki/Creating-multiple-events

Hope this helps - let me know if you have questions. I'll build `createEvents` into the library soon but hopefully this will do exactly what you need in the meanwhile.

[2017-12-26 10:45] seclace commented on #33
@adamgibbons Hi, you are creating interesting thing! But how I can write multiple events to the one `.ics` file with this library?

[2017-12-26 11:23] svnindia commented on #33
@adamgibbons on every events its creating begin calendar wrapper, that's not the correct syntax

[2017-12-29 04:35] svnindia commented on #33
Available in this PR https://github.com/adamgibbons/ics/pull/42

[2018-01-18 08:38] qxl1231 opened #44 "how to set RSVP=TRUE??"
TENDEE;ROLE=REQ-PARTICIPANT;RSVP=TRUE;

[2018-02-06 22:11] joariasl opened #45 "Support for all day events"
It's needed change the method for add start and end day for support all day events.
This is generating a `DTSTART` and `DTEND` in format `YYYYMMDD` without `T000000Z`, that is if the hour and second are no passed as param.

[2018-02-07 14:53] joariasl opened #46 "Support for additional properties in calendar and event properties"
Add the support for passing direct property params to an event or calendar. For add more possibilities of the standard: https://tools.ietf.org/html/rfc5545

For example:
[code]

[2018-02-08 04:13] #31 closed

[2018-02-10 18:13] #33 closed

[2018-02-10 19:53] #44 closed

[2018-02-11 21:46] #45 closed

[2018-02-13 03:27] cavinsmith opened #52 "Timezone"
How to use input time in particular timezone?
I can convert time to local timezone, but best way for me is to leave it in original timezone and use this for calendar

[2018-02-14 19:07] mzvitorbnov opened #55 "Console log on module import"
https://github.com/adamgibbons/ics/blob/2480d258ae1bf624c0046646f7f7df3eb58957f4/index.js#L5

[2018-02-14 19:10] mzvitorbnov opened #56 "Console log on module import"
https://github.com/adamgibbons/ics/blob/2480d258ae1bf624c0046646f7f7df3eb58957f4/index.js#L5

Should this event creation and logging be removed?

[2018-02-14 19:45] #55 closed

[2018-02-14 19:47] mzvitorbnov commented on #55
Remove this duplicated issue.

[2018-02-15 02:16] adamgibbons commented on #56
Yes - apologies.

[2018-02-15 02:23] #39 closed

[2018-02-15 06:08] adamgibbons opened #57 "Alarm trigger should support negative durations, i.e. "before" an event"

[2018-02-16 01:48] #57 closed

[2018-02-20 16:23] AaronKow commented on #38
Hi,
I have similar issue when I tried to use this package in one of my project with Webpack.
As I refer from the module "joi", some dev have similar issue [#665](https://github.com/hapijs/joi/issues/665).
Luckily, the issue can be resolved by stub the modules by:
[code]
p.s: I have included `net`, because it can't resolve in that same project.

[2018-02-20 16:47] adamgibbons commented on #38
Thanks - will take a look.
On Tue, Feb 20, 2018 at 9:23 AM Aaron Kow <notifications@github.com> wrote:

[2018-03-01 13:19] svnindia opened #60 "npm install not giving the latest changes"

[2018-03-13 13:58] VelinGeorgiev opened #61 "Question: Is it IE11 compatible?"
Hey just wanted to understand if the library is IE11 compatible?

[2018-03-21 12:20] jimmywarting opened #63 "parse ics back"
is there any way to do the reverse?

[2018-03-30 07:35] AnthonyLamot opened #64 "Sequence not a possible argument"
This is more of a question actually.

I noticed it's not possible to pass a "sequence" attribute. However it seems this is necessary if you want to update an event: https://tools.ietf.org/html/rfc5546#section-4.2.3

Any reason this has not been added? Is there another way to send updated events using this package?

[2018-04-18 16:58] wadouk opened #65 "Line length should not be longer than 75 characters"
Nothing seems to be done to limit the line length, especially for description field
When i try to validate the result I have this error, so any ical clients could refuse the generated calendar

Line length should not be longer than 75 characters near line #11
Reference: RFC 5545 3.1. Content Lines
http://icalendar.org/iCalendar-RFC-5545/3-1-content-lines.html

[2018-04-18 19:33] ryanwitt commented on #65
I recall running into problems with outlook for .ics files that don't follow this spec.

Found the following code in my custom .ics generator, where `@line` needs to be the entire line, including the `LABEL:`

[code]

I'm considering a PR, but am looking into other changes needed for my use case first.

[2018-04-18 19:38] ryanwitt commented on #65
Meanwhile @wadouk, I *think* you could use the above function on the input if you added, then subtracted the label first, i.e.

[code]

[2018-04-25 23:52] heyfrench opened #67 "Colons should not be escaped in TEXT property values"
Great library. I noticed the `\` was showing up in my descriptions in Calendar.app, so I did a little digging and found this in the RFC. I'll try to get a PR in this week, but I wanted to document it just in case I can't.

From the RFC:

Offending line: last `.replace()` in https://github.com/adamgibbons/ics/blob/master/src/utils/set-description.js#L2

[2018-05-05 01:50] adamgibbons commented on #60
Resolved

[2018-05-05 01:50] #60 closed

[2018-05-05 01:53] adamgibbons commented on #63
There is not. I know, disappointing answer. I started down that road at one point but ended up released an improved V2 instead.

[2018-05-05 01:53] #63 closed

[2018-05-05 01:54] adamgibbons commented on #65
Closed by #66 (thanks again @ryanwitt).

[2018-05-05 01:54] #65 closed

[2018-05-05 01:57] adamgibbons commented on #64
Interesting - I hadn't read that part of the spec. No reason it hasn't been added - if you're interested in submitting a PR I'm happy to merge.

[2018-05-05 01:58] adamgibbons commented on #67
Good catch. Will keep this open and add to the queue.

[2018-05-05 19:44] heyfrench commented on #52
@adamgibbons I need this soon and have time to work on it. I threw together quick support for a `timezone` prop that adds the `TZID`, but quickly learned that's not enough in some clients without the corresponding `VTIMEZONE` definitions.

Do you have any thoughts on how you'd like this to be implemented? Do you want to include common timezone defs with the library, or just expose an API for defin

[2018-05-07 01:54] adamgibbons commented on #52
@heyfrench Awesome - this will be a really nice addition to the library. I'm leaning toward including common timezone defs because it's just so much more user-friendly. I know there are a ton of them - but just getting the most common in is a big win and they'll trickle in over time, especially if we include a section in the readme w/ a template for how they're laid out. What do you think?

[2018-05-07 02:16] #67 closed

[2018-05-24 08:13] truefalse10 opened #72 "Explain attribute "startType" (utc dates)"
It took me quite a while to realize that i have to set the attribute `startType` to `local` in order to keep my UTC dates without conversion. It would be nice if the README would mention this feature

[2018-05-27 03:02] lfilho opened #73 "Resetting the `ics` for new usage"
Hey @adamgibbons thanks for the nice library!

I have a data structure with many people and many events for each people. My use case is to generate a .ics file for each person containing the events under them. Looking at your documentation I don't see a way to do that. What I want:

1. Iterate through my data structure (each person) (first loop)
2. For each person, iterate through their events (se

[2018-05-30 20:09] rafipiccolo opened #74 "END:VCALENDAR is missing"
END:VCALENDAR is missing from output when providing only one event in an array.

possible patch :
    if (value.indexOf('END:VCALENDAR') == -1)
        value += 'END:VCALENDAR';

const ics = require('ics')

const { error, value } = ics.createEvents([
  {
    title: 'Lunch',
    start: [2018, 1, 15, 12, 15],
    end: [2018, 1, 15, 13, 15],
  }
])

// BEGIN:VCALENDAR
// VERSION:2.0
// CALSCALE:GREGO

[2018-05-31 20:47] heyfrench commented on #52
I agree. Hoping to have some time to dig in this weekend.

[2018-06-07 14:19] tetreault commented on #39
@panzupa did you ever resolve this? I'm working on a new project and considering this library but I need it to work across mail clients. Outlook supports `.ics` files, but have read in another sendgrid nodejs thread that you need to send a particular header along with the `.ics` file

[2018-06-07 15:28] panzupa commented on #39
@tetreault No, I have not resolved that problem. However, I recall that you need to send ics as a special mime type which was not supported by mailgun JS API - a blocker for me.

Please look at this https://stackoverflow.com/questions/47111467/mailgun-send-calendar-meeting-event-request

[2018-06-09 09:14] jfix commented on #73
@lfilho from what I understand, `ics.createEvent` will return an event, either via a callback, or as the actual return value. This is quite clear from the examples. The `ics` object itself is not altered.

Funnily enough, I'm doing something similar:
[code]

`ics` is just an object that exposes methods such as `createEvents`, it doesn't keep any state for a given event.

[2018-06-11 22:06] lfilho commented on #73
You are correct! I mis-looked the examples and I guess my brain was just expecting a stateful one haha. Thanks!

[2018-06-11 22:06] #73 closed

[2018-06-13 20:44] jfix opened #76 "example in README file will not validate"
Just a quickie for a tiny documentation problem:

In your fourth example, _4. Create iCalendar events with Audio (Mac)_ you provide this code

[code]

You format the date using only year, month and date, but the duration is in hours and minutes. The ICS validator refuses this, for obvious reasons. :-)

Being more precise in the formatting solves the problem:

[code]

[2018-07-09 19:10] imakatman commented on #38
Any update on this?

[2018-07-25 09:54] janolivermr commented on #72
This still doesn't work properly though, since it will then omit the UTC designation (`Z` at the end of the date/time string)

[2018-07-30 22:34] #74 closed

[2018-08-01 14:54] joseajp opened #81 "Build task is not working"
When installing the package from npm, the `dist` folder doesn't contain the latest changes. For example, in version 2.7.1 the change which let us customize the `request` attribute doesn't appear.

[2018-08-02 21:30] adamgibbons commented on #81
Should be fixed in `2.7.1` - thanks for pointing this out and let me know if you have further issues.

[2018-08-02 21:30] #81 closed

[2018-08-13 18:58] #76 closed

[2018-09-14 09:45] aaronhong opened #84 "Understanding default uid generation"
Thanks for making this module.

Kind of new to Node.js. I'm trying to understand why the uuid's generated with uuid/v1 is the same for ICS files *created around the same time.* I'm wondering if this has something to do with how `defaults` is loaded?

For the life cycle of a node.js app, when is the `uid` in `defaults` actually generated? Seems the way `defaults` is using the uuid generator causes

[2018-09-30 15:23] DanielRuf opened #85 "proposal: drop usage of uuid, lodash and moment and use better alternatives"
uuid => nanoid
moment => date-fns
lodash (isEqual) => `===` or https://www.npmjs.com/package/lodash.isequal
lodash (isArray) => `typeof === 'Array'` or `Array.isArray`
lodash (pickBy) => default selector or https://www.npmjs.com/package/lodash.pickby

[2018-10-02 15:07] raine commented on #72
As @janolivermr pointed out, `startType` has no effect on whether input date is considered to be in UTC tz or not. It's always considered to be local time.

[2018-10-14 22:53] ibc opened #86 "DIR or custom attributes not allowed within organizer/attendees"
According to the spec, both `organizer` and `attendee` support [DIR](https://www.kanzaki.com/docs/ical/dir.html). Also, some calendar apps insert custom attributes (starting with `X-`).

However, **ics** fails when adding `dir` or any `x-xxxx` attribute. Example:

[code]

It produces:

[code]

[2018-10-14 23:38] ibc opened #88 "IS this project maintained?"
Just wondering if this project is still being developed.

[2018-10-16 18:42] adamgibbons commented on #88
@ibc I accept PRs and work on it when I have time - if there's something you'd like to contribute I'm more than happy to work with you.

[2018-10-16 18:42] #88 closed

[2018-10-16 19:05] ibc commented on #88
Thanks. Indeed here it's one https://github.com/adamgibbons/ics/pull/87
:)

[2018-10-17 17:07] adamgibbons commented on #86
Closed by #87

[2018-10-17 17:07] #86 closed

[2018-10-18 17:09] #64 closed

[2018-10-22 12:10] oskari commented on #38
This problem is resolved on isemail 3.x already and Joi has already updated their package.json year ago, the problem is ics depending on old version of Joi.

[2018-10-22 23:17] iSuslov commented on #52
How are you guys doing?

[2018-10-23 16:10] heyfrench commented on #52
@iSuslov I ended up writing a new ICS builder from the ground up with timezone support from the start. I'm gonna open source it, but I haven't had time for documentation and learning how to package and publish things for NPM yet. It doesn't have all of the features yet that this one does (like alarms and such), but it's got good test coverage and is flowtyped throughout.

I'll see if I can at leas

[2018-10-29 17:00] #38 closed

[2018-10-29 20:55] c-moss-talk opened #94 "Library converts UTC to server time"
Please correct me if I'm wrong, but when you are doing this in `set-date-with-utc-time.js`
[code]

you are calling `moment([...])`which will interpret the inputs as local. i.e., hours is the time on my watch in new york, not utc.

shouldn't it be `moment.utc([...])...`  ?

[2018-10-31 04:57] #52 closed

[2018-11-20 09:44] uplRohit opened #96 "start date isssue when convert from json to ical"
{ ValidationError: child "start" fails because ["start" at position 2 fails because ["2" must be larger than or equal to 1]]
my json  is :-
{
                                title: element.id.name,
                                start: [year, day, hour, minutes, seconds],
                                duration: { minutes: minutes }
                            }

[2018-12-07 08:46] george-i commented on #72
Maybe it helps someone: I'm doing  a hack, I replace the text in the generated file as follows:

`
ics.createEvent({
    title: 'My event',
    description: '',
    start: [1970,1,1,0,0],
    duration: {minutes: 60},
    organizer: { name: 'John Doe', email: 'john.doe@example.com' },
    attendees: [
      { name: 'John Doe', email: 'john.doe@example.com' }
    ]
  }, (err, value) => {
    if(err)

[2018-12-13 03:06] rootelement commented on #96
I've encountered the same issue. I thought it was because i had two events pulled from the database with the same day and time. I changed my date generation to:
[code]
Where `i` is an index so nothing would have the same day and time, but that didn't fix it either. However, it did change my error message from "2" must be larger than or equal to "1" (which, by the way, it is) to "["start" at positi

[2018-12-29 17:03] a-type commented on #30
Looks like a PR was opened for this (https://github.com/adamgibbons/ics/pull/82), any possibility of merging and releasing?

[2019-02-09 20:16] adamgibbons commented on #84
Fixed by #97

[2019-02-09 20:16] #84 closed

[2019-02-09 20:21] adamgibbons commented on #30
@a-type yes - reviewing #82 now.

[2019-02-09 20:21] #30 closed

[2019-02-09 21:12] #85 closed

[2019-02-09 22:43] adamgibbons commented on #94
@c-moss-talk thanks for looking into this issue. It should be resolved by #98, which I'll release to NPM shortly.

[2019-02-09 22:43] #94 closed

[2019-02-09 22:45] #96 closed

[2019-02-11 04:28] karthikdivi opened #99 "Getting validation error when 'recurrenceRule' value set"
Getting following error when we try to set `recurrenceRule` field value
`error:  ValidationError: "recurrenceRule" is not allowed`

[2019-02-12 04:42] adamgibbons commented on #99
closes #100

[2019-02-12 04:42] #99 closed

[2019-02-12 06:39] rhajizadeh opened #101 "Typescript"
Hi
Thank you for your module
Please add typescript support.

[2019-02-28 05:38] hariprasadiit opened #102 "child "attendees" fails because ["attendees" at position 0 fails because ["role" is not allowed]]"
I get this error when i try to use `role` for attendee.

I believe this is due to the missing role property in schema

[2019-03-04 13:03] Nycticorax opened #103 "Missing SUMMARY attribute on src/schema.js:schema object"
I think it's clear.

[2019-03-20 09:44] m-vinc commented on #102
I made a pull request to fix this, hope the author will merge it soon !

[2019-03-20 13:59] heijmerikx commented on #72
What @truefalse10 suggested works for me after hours of figuring out why my dockerized node.js application would display date values in my frontend (using momentjs) on my local (dockerized) environment and on AWS exactly the same.

The database was also the same at AWS and locally.
The docker container has the timezone set as well.
Storing database values as UTC on a datetimetz type db field on po

[2019-03-21 01:37] mindhaq opened #105 "Newlines in Location"
Similar to #31, newlines in location need to be handled. Otherwise, only the first line ends up in the actual calendar entry.

[2019-03-21 04:45] adamgibbons commented on #102
Fixed by #104 - thanks @m-vinc!

[2019-03-21 04:45] #102 closed

[2019-03-26 15:25] lid3rs opened #106 "Timezones"
When event is being added to iCal, the TZ is GMT by default. How to work with Timezones?

[2019-03-27 07:48] #106 closed

[2019-04-04 12:12] DjovDev opened #107 "Unsafe numbers on start"
Sometimes, I get the following error:

[code]

I initialize an event with the following parameters:

[code]
I have solved this by adding parseInt() in front of every moment value.

I thought it was curious why the error is only thrown sometimes.

[2019-04-04 16:31] adamgibbons commented on #107
@DjovDev `start` and `duration` expect numbers, not strings. They are validated using `Joi.number`: https://github.com/hapijs/joi/blob/v15.0.0/API.md#number---inherits-from-any

[2019-04-04 16:31] #107 closed

[2019-04-15 12:21] TokkeDev opened #108 "Time zone support messes up in version 2.13"
When upgrading from version 2.12.1 to 2.13.0, all my events that are created in local time now jumps ahead two hours when are viewed in Apple Calendar og on Google Calendar. I'm currently in the GMT+2 time zone, so an event that was supposed to begin 9.15 now starts at 11.15.

[2019-05-02 20:05] ghost opened #109 "Cherry pick methods from Lodash to reduce bundle size"
It would be great if the lib cherry picks the lodash methods used to reduce bundle size.

Like:
[code]

instead of:

[code]

[2019-05-22 10:49] Ognian opened #110 "update dependencies to @hapi/joi"
Hello,
any chance to update 'join' dependency to @hapi/joi?
Since:

Thanks a lot
Ognian

[2019-05-27 15:13] futin commented on #108
I can confirm the same behaviour. For now, I'll switch on lower version, but this should be fixed.

[2019-06-07 15:04] Akumzy commented on #110
I just did [#111](https://github.com/adamgibbons/ics/pull/111)

[2019-06-07 15:05] Akumzy commented on #109
solved [#111](https://github.com/adamgibbons/ics/pull/111l)

[2019-06-27 12:53] jcaron23 commented on #108
There is indeed now a mismatch between the documentation (which states that dates in the createEvent call are local) and what happens (which considers them UTC). This is probably related to #98 which fixed UTC management, coupled with the fact that the default type in setDate is utc, not local. Will check further.

[2019-06-30 14:16] jcaron23 commented on #108
Submitted PR #113 which should fix this.

[2019-06-30 14:18] jcaron23 commented on #72
I submitted PR #113 which should give more control over dates, including the choice of both the input type (local or UTC) and the output (floating or UTC).

[2019-07-01 12:09] rishanshah opened #114 "Timezone problem"
I have tried both
- timezone : 'Europe/london'
- startType: '00:00'

in the creation of the event. from issue #113

Neither have worked. My the time seems to sync with my calendar subscription 1h after. Please advise on how this can rectify this

code in question:
`  eventsArr.push({
              productId: 'Oshwal',
              startType: '00:00',
              title: $(this).find('.ai1ec-popu

[2019-07-01 12:40] jcaron23 commented on #114
Which version of the module are you using? The current published version can take two values for startType:
* 'utc' (default) means you should provide the date/time as UTC, and it will output an UTC time in the event
* 'local' means you provide a date/time that will be output as "floating" (i.e. taken as a literal date/time ignoring the timezone, so people in different time zones will see the same

[2019-07-01 12:44] rishanshah commented on #114
I am using 2.13.2.

I tried using both local and utc and neither seem to work. I am not sure if uct takes into account daylight savings changes. (ie if I have an event for 7am set to utc will it become 8am?)

which previous version should I download?

[2019-07-01 13:12] jcaron23 commented on #114
By definition UTC does not include any time zone or dailyight savings time. You would need to convert your local time to UTC first. For 8am local time in London at this time you would need to set 7am UTC.

Version 2.12 should be OK.

[2019-07-01 13:12] jcaron23 commented on #114
This is a duplicate of #108

[2019-07-01 13:23] rishanshah commented on #114
How does this work from a server perspective serving multiple countries with different time zones? I read somewhere that there was a timezone parameter in the creation of the event. I tried it but it didn't work? Can you advise on this?

[2019-07-01 13:53] jcaron23 commented on #114
The timezone parameter is in a PR which has not been merged yet (#112). But that timezone comes without the timezone definition, so it's not compliant with the RFC and some clients may not understand.

With the current release, you have to convert from whatever time zone you are using to UTC before giving the data to `createEvent`. In previous releases, `createEvent` would do the conversion for yo

[2019-07-02 13:42] rishanshah commented on #114
Rolled back to 2.12 - this works locally however when deployed into heroku (which I presume has a different system time) the calendar is still 1h off

[2019-07-03 04:16] adamgibbons commented on #110
merged #111

[2019-07-03 04:16] #110 closed

[2019-07-03 04:19] adamgibbons commented on #101
I don't have the bandwidth but would love Typescript support as well.

[2019-07-03 04:19] #101 closed

[2019-07-04 16:26] adamgibbons commented on #108
Addressed by #115

[2019-07-04 16:26] #108 closed

[2019-07-04 16:32] adamgibbons commented on #114
Addressed by #115

[2019-07-04 16:32] #114 closed

[2019-07-04 16:33] adamgibbons commented on #72
Addressed by #115

[2019-07-04 16:33] #72 closed

[2019-07-04 16:33] adamgibbons commented on #109
Closed by #111

[2019-07-04 16:33] #109 closed

[2019-07-04 16:43] #103 closed

[2019-07-04 20:37] Nycticorax commented on #103
Thanks Adam!

[2019-07-09 07:40] mncvnn opened #117 "No Travel Time && Alarm has no ATTENDEE email"
Hi, @adamgibbons
I couldn't find out how to set travel time by using this library.
Could anybody show me how?
Thanks

Edited:
- The Alarm Schema has ATTENDEE, but the export data doesn't.

[2019-07-24 10:37] mmiszy commented on #101
@adamgibbons would you consider accepting a PR for this?
Would you like to rewrite the source of this library in TypeScript or just add typing as `index.d.ts`?

[2019-07-24 20:16] adamgibbons commented on #101
Both, really :-)

Adding typing in `index.d.ts` is definitely a win, and a much quicker win. Were we to rewrite this in TS, I think I'd want to improve the api overall, make some breaking changes, and release a 3x. E.g. two things I didn't anticipate in the beginning were that I'd eventually want to  1) parse ICS files, or 2) support more of (RFC 5545)[https://tools.ietf.org/html/rfc5545].

[2019-07-24 22:00] mmiszy commented on #101
Me, or my team, can take care of writing `index.d.ts` file. We've already started, so why not share it with everyone :)

[2019-08-02 16:17] mmiszy commented on #101
https://github.com/adamgibbons/ics/pull/118

[2019-08-15 15:37] strarsis opened #119 "X- field support"
Are custom/proprietary X- fields supported like `X-ALT-DESC` used by Outlook?

[2019-09-10 02:04] adamgibbons commented on #119
They are not supported but they should be.

[2019-10-04 14:14] brennongs commented on #119
I just added support for `X-MICROSOFT-CDO-BUSYSTATUS`(see #120) , I'd be happy to help with others. @adamgibbons do you want to eventually support all of them? Maybe we should compile a list of priorities so we can go about adding them in an organized manner?

[2019-10-04 15:04] strarsis commented on #119
@brennongs: Thanks! Though it is a very specific `X-` field.
Ideally all kinds of X-fields should be supported, without hardcoding the allowed ones into the library.
`X-ALT-DESC` is a very important one as it allows to add HTML to an item (e.g. calendar/appointment item): `X-ALT-DESC;FMTTYPE=text/html:`

[2019-10-05 06:02] adamgibbons commented on #119
I used to use the `x-attr-foo="bar"` approach in front-end web development before React et al. came along, so I get the power of expanding the api to support `X-whatever`. However, in the interest of trying to enforce a slightly stricter model, I'm inclined to implement `X-ALT-DESC` and whatever other common ones are out there as the need arises. PRs like @brennongs are clean and easy to ship stra

[2019-10-05 18:59] ScreamZ opened #121 "Promise support ?"
Hello, is it planned to support promise ?

Easy with kind of bluebird mapping.

Regards

[2019-10-21 11:00] YM-KA opened #122 "VALARM is missing DESCRIPTION"
Hi! I have created a event with an alarm.
The problem is that the output is missing DESCRIPTION in the VALARM section, which seems to be mandatory. I have validated the ics file here [https://icalendar.org/validator.html](https://icalendar.org/validator.html) and got error
<code>Missing DESCRIPTION property in VALARM near line # 17</code>

Outlook is also complaining when subscribing to the file.

[2019-10-23 17:01] giuliano-barberi-tf commented on #122
You can specify the `description` in your alarm object and it does work. The documentation just needs to be updated.

[2019-10-23 17:38] YM-KA commented on #122
😄 Did not even try that. Yes it works - many thanks! 🤓

[2019-10-27 12:00] #122 closed

[2019-10-27 12:03] YM-KA opened #123 "Possible to set X-WR-CALNAME"
Is it possible to set <code>X-WR-CALNAME</code>?
I cannot find anything about this value in the documentation.

Would be great to be able to set - otherwise the default value when subscribing to .ics is set to "Undefined".

Many thanks Kazuyuki

[2019-10-27 12:08] YM-KA opened #124 "Question VALARM"
Hi, thanks for a great package!
I am wondering about the <code>BEGIN:VALARM</code> tag.
I have set an alarm, but Outlook (PC) and iCalendar (Mac) seems to ignore the alarm altogether.

Is this a known problem with Outlook / iCalendar ?
The format seems to be valid.
Are any additional values needed for each client to understand/accept the alert?

[code]

[2019-11-25 15:25] dominicjordan opened #125 "Wrong DTSTART generated"
Hello,

When I use the the function createEvent with a start attribute, the DTSTAMP is set correctly but the DTSTART has an wrong value (it should be the same as DTSTAMP right?). Therefore my calendar item is places wrong when importing it.

You can also see this issue on the first example in the Readme.md:
[code]

Am I doing something wrong or misunderstanding some concept?

[2019-11-25 15:35] #125 closed

[2019-11-27 06:13] caique0202 opened #126 "How to use timezone"
How to add the TZID= to the time/date?

Thanks

[2019-11-27 14:44] Ahmed-Habbachi opened #127 "angular 2+ support"
does anyone succeed to make it working in angular? how?

[2019-12-02 07:29] dominicjordan opened #128 "ICS in Exchange/Outlook updates not working"
I have generated an ICS file with an appointment (example 1). This appointment can change often so I would like to send out new ICS files (using my backend). This would normally work by sending the file with the same appointment UID and a higher SEQUENCE (example 2). This works great with iCloud Calendar where the existing item gets moved to the new date but does NOT work with Exchange/Google Cale

[2019-12-03 02:22] bbbryan14 commented on #119
is someone actively working on a PR for `X-ALT-DESC` or should I take a stab at it?

[2019-12-03 02:32] adamgibbons commented on #119
@bbbryan14 go for it 👍

[2019-12-03 11:55] phanhuudinh opened #129 "Error 'TextEncoder' on EDGE"
Ics not working on EDGE
my code:
[code]
Errors:
[code]
I try with babel polyfill but still not work

[2019-12-29 11:13] chiraggmodi opened #130 "how to sync with outlook and google calendar"
Hi sorry to put this here,
but I have not found any solution for this issue and hoping that I get help here

So I am using this module to genrate ICS file for calendar, now I want to get sync when every file is get updated in google calendar or in outlook, same as basecamp.

so when new event added by user I also want to update that event in file and get sync with google and outlook

So anyone hav

[2020-01-07 20:59] mmuurr opened #131 "cannot find module './dist'"
Hi, I'm having trouble using `ics` after a clean node (v13.5.0) installation.
Here are my (I think, reproducible) steps:
[code]
... and this succeeds.
Then, once in the node REPL, this:
[code]
(where `/PATH/TO/MY/PROJECT` is replaced by the actual path :-)

Any ideas?

[2020-01-07 21:18] mmuurr commented on #131
Nevermind ... I was trying to install from the github source, but that doesn't seem to be working for me (user error, I'm sure).
When I install from npm's disto, it works.

[2020-01-07 21:18] #131 closed

[2020-01-10 20:33] maxfurman opened #132 "ValidationError if organizer has "dir" attribute"
The Typescript and Joi schemas don't match - if the organizer of an event has a dir, a ValidationError is thrown.

[2020-02-11 10:54] heiso opened #134 "Prototype Pollution vulnerability on @hapi/joi > @hapi/hoek"
npm audit source : https://www.npmjs.com/advisories/1468

Fix : bump all @hapi/hoak occurences to ^8.5.1 in package-lock.json https://github.com/adamgibbons/ics/blob/master/package-lock.json#L839

Thanks !

Have a 🍪

[2020-02-14 16:03] Aymkdn commented on #126
See my solution.

Let's use an example: I have an event that is stored in my database and that has date/time without timezone, but I know it's tied to a location.
For example, my event happens in New York City on Feb 14, 2020 from 9 AM to 10 AM.
I'm in France and when I open the `.ics` file in my Outlook Calendar I should see this event from 5 PM to 6 PM (because I'm 6 hours ahead) in my calendar.

[2020-02-25 14:36] edreeseg opened #135 "Support for seconds"
In going through things, I've noticed that when formatting the date, the `seconds` value provided by the user is consistently left out, as seen below.
[code]
Is there a particular reason for this, such as having to account for rules surrounding leap-seconds and the like?  Ideally I would like to be able to allow the creation of rules to the second, and was curious about this decision.

[2020-03-01 14:45] mindhaq commented on #129
This completely crashes a react app using this to create ICS dynamically (blank screen).

Microsoft Edge 44.18362.449.0

[2020-03-23 10:55] TheRealArlie opened #136 "Attributes: LAST-MODIFIED and CREATED"
Hi,
we are exporting Ical Files using this library. We love it. Thank you for sharing it.

Now we have the problem that a Calendar Software some of our users have in use needs the LAST-MODIFIED attribute in order to decide whether the Event has top be updated. Additionally it seems to check whether CREATED  is supplied and is before LAST-MODIFIED.

Could you please include the Fields CREATED and L

[2020-04-14 16:53] dlancer opened #137 "Summary missed in typescript definition for EventAttributes."

[2020-05-17 00:58] julientaq commented on #126
Thanks for the example! It should definitely go into the readme

[2020-05-20 22:33] chrysb opened #138 "Type 'number[]' is not assignable to type 'DateArray'"
Thanks for making this!

I'm unable to get the example code to work in TypeScript.

[code]

I also tried
[code]

(which btw returns an array of strings)

And seeing your type definition is `[number, number, number, number, number]`, I'm having trouble getting them to match up.

Why not just use an isoString in the first place for the start and end properties?

[2020-05-27 02:02] dcdarrow83 commented on #123
Thank you. I can't get it yet..

[2020-05-27 07:54] YoomiAB commented on #123
A (quite messy) workaround is to simply split the output and insert the tag manually - see below.

[code]
This is far from fool-proof though. 🤔

[2020-05-27 07:56] YM-KA commented on #123
A (quite messy) workaround is to simply split the output and insert the tag manually - see below.

[code]

This is far from fool-proof though. 🤔

[2020-05-27 14:53] phoulgaux commented on #127
I am working on an Angular 7 app. I discovered that `ics` has an implicit dependency of `net` (built-in Node module) via [`@hapi/joi`](https://github.com/hapijs/joi). Hopefully, the issue is purely TypeScript-related.

As far as I can see, this module is used in `@hapi/joi` only for the `hostname` validator which is not used by `ics` (@adamgibbons could you confirm?). However, unless I missed some

[2020-05-28 06:19] phoulgaux commented on #127
@adamgibbons @Ahmed-Habbachi
You can take a look at this PR: https://github.com/adamgibbons/ics/pull/139. It seems I got it working on Angular application by updating Joi

[2020-06-06 19:37] adamgibbons commented on #134
Fixed by #139

[2020-06-06 19:37] #134 closed

[2020-06-06 19:39] adamgibbons commented on #129
Please let me know if this is fixed by #139

[2020-06-06 19:53] adamgibbons commented on #127
#139 is published - many thanks @phoulgaux 🙏

Please reopen is this issue persists.

[2020-06-06 19:53] #127 closed

[2020-06-06 19:54] #129 closed

[2020-06-06 19:54] #119 closed

[2020-06-06 19:55] adamgibbons commented on #121
I'm happy to support promises if you'd like to open a PR.

[2020-06-06 19:55] #121 closed

[2020-06-07 05:39] #135 closed

[2020-06-07 06:40] #136 closed

[2020-06-07 16:50] adamgibbons commented on #131
`npm run build` should generate the `dist` directory you were looking for.

[2020-06-07 20:36] #123 closed

[2020-06-07 20:54] adamgibbons commented on #128
The latest version of this package now supports the `CREATED` and `LAST-MODIFIED` attributes - try setting the former on the first event, and add the latter on the updated event. If that doesn't resolve your issue please open another PR.

[2020-06-07 20:54] #128 closed

[2020-06-07 20:55] adamgibbons commented on #130
The latest version of this package now supports the `CREATED` and `LAST-MODIFIED` attributes - try setting the former on the first event, and add the latter on the updated event. If that doesn't resolve your issue please open another PR.

[2020-06-07 20:55] #130 closed

[2020-06-07 22:24] #105 closed

[2020-06-25 05:41] FauricioValencia commented on #38
the steps of this link work for me:
 https://stackoverflow.com/questions/51541561/module-not-found-cant-resolve-dns-in-pg-lib/51781959

[2020-07-09 09:54] machinecode commented on #119
Hi Adam,

Is this feature added? I couldn't see the relevant pull request.

[2020-07-09 14:46] adamgibbons commented on #119
@machinecode no sir, I just closed due to inactivity - there was no PR

[2020-07-09 14:49] machinecode commented on #119
ok, Let me try it then :)

[2020-07-16 09:27] Gr8z commented on #119
+1

[2020-07-29 10:28] robertpatan commented on #138
I have the same issue.
I used: `start: [momentDate.year(), (momentDate.month() + 1), momentDate.date(), momentDate.hour(), momentDate.minute()]` . Even just puting `[1,2,3,4,5]` doesn't work.
The dts file seems to be maybe based on a older version of ts?
`Type 'number[]' is not assignable to type 'DateArray'`. Even after correcting this, you will get another ts error at status.
Anyway I ended up u

[2020-07-30 14:58] adamgibbons commented on #138
The DTS file was contributed to the project by a TS developer. I'm happy to review a PR to update it.

[2020-09-11 08:43] AnithaYerra commented on #38
doing npm update helps me to resolve this issue

[2020-09-17 15:29] rh389 opened #149 "`@hapi/joi` dependency - necessary?"
Just evaluating this lib for use in a project and the one issue that stood out for me was the dependency on `@hapi/joi`, which has a chain of various dependencies.

This is only used in `src` for `validateEvent`. This isn't exported or part of the package's public API, but it's used as part of `createEvent`. Is it really necessary to validate the package's output at runtime? Seems like more of a j

[2020-09-17 18:28] adamgibbons commented on #149
Great suggestion, I'll take a look

[2020-09-24 10:49] efd1 opened #152 "Error on IE11: not responding due to a long running script"
Hello,
I have the message "xxx is not responding due to a long running script" on IE11, I tested with the first example from the readme (simple createEvent).

![image](https://user-images.githubusercontent.com/7147919/94135744-2ccc6980-fe64-11ea-9a3e-20b520cf6a8c.png)

Thanks

[2020-09-24 15:37] efd1 commented on #152
It seems that the issue comes from the file "schema/index.js":

![image](https://user-images.githubusercontent.com/7147919/94166947-3b2e7b80-fe8c-11ea-8a1c-8b5a32704ef9.png)

[2020-10-19 19:37] chrisfisher opened #154 "Error: Cannot find module 'lodash/pickBy'"
I get this error after upgrading to 2.23.0: `Error: Cannot find module 'lodash/pickBy'`

Presumably related to https://github.com/adamgibbons/ics/pull/150?

[code]

[2020-10-24 17:52] adamgibbons commented on #154
Should be fixed by https://github.com/adamgibbons/ics/commit/f031719add4fa95c787ceae57ac4e9eb501a46c6

[2020-10-27 17:03] adamgibbons commented on #138
I believe this should be fixed by https://github.com/adamgibbons/ics/pull/155.

[2020-10-27 17:03] #138 closed

[2020-10-27 17:03] adamgibbons commented on #137
I believe this should be fixed by https://github.com/adamgibbons/ics/pull/155.

[2020-10-27 17:03] #137 closed

[2020-10-29 15:04] devnoot commented on #154
I'm running into this issue as well.

From my `package.json`

[code]

[2020-10-30 13:54] devnoot commented on #154
FYI: I was able to work around the issue by going into `node_modules/ics` and running `npm install`

[2020-11-04 01:09] mikoprus opened #157 "Feature request: Allow the developer to disable adding DTSTAMP property to events"
Current situation:
createEvents function creates DTSTAMP for every event and doesn't provide a way to disable this

Why is this a problem:
Would be nice to not have it there and use for example a file hash for versioning, useful in cases where software pulls new file and wants to know if it changed based on file hash

Desired situation:
 option to disable adding DTSTAMP on createEvents function

[2020-11-05 16:20] adamgibbons commented on #157
Are you saying that the DTSTAMP value is the same for every event when using `createEvents`?

[2020-11-05 20:38] mikoprus commented on #157
I want to be able to create events that don't have a `DTSTAMP`

[2020-11-05 20:58] adamgibbons commented on #157
`DTSTAMP` is a required event prop in the RFC, so this lib needs to include it. https://tools.ietf.org/html/rfc5545#section-3.6.1

[2020-11-05 21:03] mikoprus commented on #157
`DTSTAMP` is not required when specyfing `METHOD` property, would you consider adding `METHOD` property then? If so I'm happy to contribute. :)

[2020-11-05 21:07] adamgibbons commented on #157
Absolutely, happy to consider

[2020-11-06 21:46] mikoprus commented on #157
I was mistaken about `DTSTAMP` not being required when specyfing `METHOD`

[2020-11-06 21:46] #157 closed

[2020-11-11 15:29] tobiasso85 commented on #154
error still present with:
`"ics": "^2.26.1",`

[2020-11-30 02:02] #154 closed

[2020-12-01 02:18] IvieH opened #163 "Creating multiple events fails with 'start' must be an array"
I am not sure if I am doing something wrong, or there may be an error in the code.

I am trying to add multiple events like in the examples, but it fails with an error that start must be an array.

It looks like the buildEvents call is not accounting for an array of events.
`
function buildEvent() {
  var attributes = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : {};
  var ti

[2020-12-01 02:19] #163 closed

[2020-12-01 02:19] IvieH commented on #163
My fault

[2020-12-04 00:13] taxilian opened #164 "busyStatus missing from typescript types"
I'm new to this library, so I'm not certain which is incorrect, but either the docs are incorrect saying that `busyStatus` is a valid option or `index.d.ts` is incorrect because it's missing busyStatus.

Just FYI =]

[2020-12-07 15:52] irfanosp opened #165 "add url in description"
Is there a way we can add url hyperlink in the description, Please help if it possible

[2020-12-11 00:46] ggascoigne commented on #149
I'd love this, @hapi/joi is also rather large so being able to drop it for that reason as well would be a solid plus.

[2021-01-14 17:36] atomicpages commented on #149
@adamgibbons any progress on this? I'd be happy to help out with this by sending a PR. LMK 👍 .  One the same lines moving away from `uuid` and toward `nanoid` will further reduce bundle size

[2021-01-14 17:45] rh389 commented on #149
Just to note that when I raised this I was mistaken about the use of this dependency - it's actually used to validate event _input_, so there'd be some loss of safety by removing it (albeit fairly minimal - especially for typescript users where the runtime checks mostly duplicate the type annotations).

IMO it's not worth the extra package weight to validate consumer input (and there are lighter s

[2021-01-16 00:39] jgutix commented on #61
One of the dependencies `@hapi/joi` is not IE11 friendly, when used with webpack/babel it needs to be explicitly included so that it can be correctly transpiled, e.g.:

[code]

[2021-01-21 04:00] adamgibbons commented on #149
@atomicpages No progress on this. I agree that hapi is too large and there are better alternatives - however validation of some sort is necessary and that's why I haven't simply dropped hapi. I'm open to any suggestions and I'm always interested in removing dependencies/reducing dependency size.

[2021-01-29 17:18] avlima commented on #163
Please, tell me what the solution was, I have the same problem!

[2021-01-29 17:33] avlima opened #167 "Multiple events "start" must be an array"
I'm having trouble recording multiple events, I followed the steps in the documentation but this error insists on appearing.

These are the events I'm trying to record:

`{
            title: 'test 1',
            description: 'Nightly thing I do',
            busyStatus: 'FREE',
            start: ['2021', '2', '11', '13', '0'],
            duration: {minutes: 50},
          },
          {

[2021-01-29 18:44] #167 closed

[2021-02-08 12:04] chocobuckle opened #168 ""CRLF should be used for newlines" error in validator"
When validating at [http://ical-validator.herokuapp.com/](http://ical-validator.herokuapp.com) I'm getting a "CRLF should be used for newlines" error, which also seems to be the cause of a ["not supported calendar message" error message in Outlook](https://stackoverflow.com/questions/65127111/microsoft-outlook-add-not-supported-calendar-message-ics).

[2021-02-12 12:45] avlima opened #169 "URL not working to window calendar"
The same event added for other calendars displays the URL, but in the window calendar, it does not.
Any solution?

<img width="1362" alt="Screen Shot 2021-02-12 at 14 17 54" src="https://user-images.githubusercontent.com/13434925/107800200-3edc7500-6d3d-11eb-9b23-7a9516629a1b.png">

The link is not recognized by Windows Calendar apps, if not possible to correct, please add link to the event descri

[2021-02-14 19:31] adamgibbons commented on #169
@avlima would you provide a stripped down `.ics` file where this works as you expect, and one generated by this library that doesn't work, so that I can see them side-by-side?

[2021-02-14 19:32] adamgibbons commented on #165
@irfanosp PR is welcome!

[2021-02-14 19:32] #165 closed

[2021-02-14 19:33] adamgibbons commented on #164
@taxilian thanks for pointing this out - `index.d.ts` is behind - happy to merge a PR if you want to submit one.

[2021-02-14 19:33] #164 closed

[2021-02-17 11:32] HeikoTheissen opened #171 "Line folding breaks surrogate pairs"
https://github.com/adamgibbons/ics/blob/30750b15f24a12ebb0e1be4d292374c3eb76c770/src/utils/fold-line.js#L5-L9

Consider adapting this line folding method to support surrogate pairs as described in sebbo2002/ical-generator#221.

[2021-02-20 13:12] Ovsyanka83 opened #172 "Is it possible to set EXDATE with this library?"

[2021-03-10 10:17] cavazzatommaso commented on #167
Sorry i have the same issue. How did you managed to resolve this?

[2021-03-18 02:34] xieerduos opened #174 "Is it possible to delete calendar events"

[2021-03-23 20:48] lulucious opened #175 "index.ts missing busyStatus property"
Hi,
It seems that type ics.EventAttributes definition misses busyStatus property in index.d.ts
Can you please check if the error is in index.d.ts or if busyStatus is actually deprecated ?
Thanks for your help!

[2021-04-20 15:10] MaikHannemann commented on #132
Can confirm
![image](https://user-images.githubusercontent.com/68593282/115420302-516ea100-a1fb-11eb-8cbf-f5bcf18deba5.png)

[2021-05-07 00:06] wadewadewadewadewadewade opened #179 "htmlDescription on event not importing, only description"
Has anyone had issues getting the HTML to appear in calendar apps like Google Calendar or Apple Calendar?

If I have `<b>some html</b>` as the htmlDescription for an event and `some html` as the description, only `some html ` appears in the calendar date in the app I'm importing the ics into.

Thanks!

[2021-05-20 09:53] 0xdevalias commented on #149
Looks like there is a PR opened 25 days ago that will replace this with `yup`, keeping the runtime checks, but reducing the size.

[2021-05-20 10:01] 0xdevalias commented on #149
Please! I was just about to say the same, then saw this comment.

- https://github.com/ai/nanoid/

[2021-05-20 10:06] 0xdevalias opened #182 "Replace uuid with nanoid to reduce the bundle size"
---

---

For some visual stats, according to `bundlephobia`, `1.5%` (`~2.46kB`) of this lib's `160.8kB` (min) size comes from `uuid`:

(see https://github.com/adamgibbons/ics/issues/149#issuecomment-844932986 + https://github.com/adamgibbons/ics/pull/178 for the issue + PR to fix the size issues related to `joi`)

- https://bundlephobia.com/result?p=ics@2.27.0

![image](https://user-images.github

[2021-05-22 12:45] spideep commented on #175
I have detected the same issue as well.
This causes:
`error TS2345: Argument of type ... is not assignable to parameter of type 'EventAttributes'`

[2021-06-05 15:44] adamgibbons commented on #149
Heard and merged!

[2021-06-05 15:44] #149 closed

[2021-06-05 15:49] #152 closed

[2021-06-05 15:51] #169 closed

[2021-06-05 15:55] adamgibbons commented on #174
The library does not (yet) support this functionality.

[2021-06-05 15:55] #174 closed

[2021-06-06 01:14] 0xdevalias commented on #149
Thanks for getting that PR merged @adamgibbons

Curious what your thoughts are on using nanoid as well, as mentioned above?

[2021-06-16 04:50] amartya-dev opened #185 "Not able to generate an ics file that could add an event on iCalendar"
I have tested it multiple times, but as soon as I generate an `ics` file and add an event with it in my iPhone, it almost always fails.

My code:
[code]

[2021-06-28 02:20] drzax opened #188 "Add and ESM export"
Despite being written using ESM syntax the distributed package appears to only have a commonjs version.

[2021-07-22 16:43] SudharakaP opened #190 "Breaking Update in v2.29.0 - Format of Dates"
It seems that version 2.29.0 had a breaking update. Previously the `createEvent` function used to take `moment` objects as dates, but starting from 2.29.0 it had strictly migrated to taking arrays as date formats. So for example something like,

[code]

worked before, but now we had to change it to,

[code]

Otherwise the `createEvent` function will error out with,

[code]

The change we had to do

[2021-07-22 19:07] avlima commented on #169
I solved, I mistake :/

[2021-07-26 02:14] amarinediary opened #191 "macOS Big Sur, Calendar app crashing on importing .ics file and creating new calendar"
Since the macOS Big Sur update, it seems that the generated .ics file is crashing the Calendar app upon choosing the create a new calendar option.

1. double click the ics file
2. On promt, click on "add a new calendar"
3. A second prompt will be displayed saying: "This calendar can’t be deleted. You can’t delete calendars from an account with read-only privileges."

Here is a pastebin of a previo

[2021-07-26 08:03] amarinediary commented on #191
After further testing the issue seems to be coming from the Calendar app itself. Having a readonly account linked to it (eg Google) seems to be the problem.

[2021-07-26 08:03] #191 closed

[2021-07-30 12:25] berenteb opened #193 "crypto.randomBytes is not a function"
I am trying to use the createEvent function, and a TypeError showed up in the console breaking everything. If I comment out this part of the implementation, it goes away. I am using TypeScript.

[2021-07-31 16:17] adamgibbons commented on #190
Thanks for reporting this - will look into it asap.

[2021-08-06 04:49] SharudAgarwal commented on #190
@ SudharakaP thanks for reporting this as I was not able to figure out why my calendar events stopped working until now. However, while there is an issue for that release, the issue is not with ics no longer accepting moment objects and requiring arrays (the moment.format.split output an array anyways). Instead, the issue is that the moment.format.split outputs an array of strings whereas the java

[2021-08-08 13:27] amarinediary opened #194 "Attachment (ATTACH) Property?"
Hi, first of all great package!
Is there a way to attach documents/attachments to an event?
It seems that it isn't mentioned in the documentation.
Tho this is an existing property, @see https://datatracker.ietf.org/doc/html/rfc5545#section-3.8.1.1.
Regards,

[2021-08-19 15:50] tjin88 opened #197 "Downloading .ics file"
How would you download a .ics file? Is there a built-in method I can use, or should I use the _buildEvent_ method to return a string, then convert to .ics myself?

[2021-08-19 16:47] mijkal commented on #197
If you're using something like Express with a REST endpoint, your final response will be something like this:

`res
        .set(
          'Content-Disposition',
          `attachment; filename="${FILE_NAME}.ics"`,
        )
        .set('Content-Type', 'text/calendar')
        .status(200)
        .send(ics);
    }`

They key is to set your HTTP headers so clients know how to handle the response

[2021-08-21 21:45] lights0123 commented on #172
Until a way to add custom properties is exposed, you can use a hacky workaround by using any property that isn't sanitized with `foldLine` in [src/pipeline/format.js](https://github.com/adamgibbons/ics/blob/31d4496ace2b9aa3c2b4022349cf827c559db50b/src/pipeline/format.js) (`uid`, `timestamp`, `sequence`, or `recurrenceRule`), and then passing `'\r\n'` and then `EXDATE:<your data>`. For example:

[c

[2021-08-23 17:48] SudharakaP commented on #190
Ah, thanks much for the information. 😄

[2021-08-24 05:24] #172 closed

[2021-08-24 08:05] buschco commented on #193
If you are using `react-native` or similar environments that do no support the `crypto` API out of the box, try to install [`react-native-get-random-values polyfill`](https://github.com/uuidjs/uuid) and import it somewhere before this package `import 'react-native-get-random-values';`

For more info see [here](https://github.com/uuidjs/uuid#react-native--expo)

[2021-08-24 15:10] lights0123 commented on #172
I would leave this open, as there *should* be a way to do this without this hacky workaround.

[2021-08-26 10:11] adarrshpaul opened #198 "how to add timeZones ?"
How to add timezones in ics content ?

[2021-09-20 13:04] Deepakmukka1 commented on #124
@adamgibbons its not even working in google calendar , the alarm is being ignored

[2021-09-21 08:48] ramseth001 commented on #185
I am also facing this issue

[2021-09-23 04:24] Jp3rd commented on #185
Here is what I did that worked:

[code]

do not add UTF-8 as encoding.

[2021-10-21 15:31] KeshavGoswami opened #199 "ICS Update Not Working in Google Calendar"
Hello,
I am currently sending an event through a mail with an attached .ics file. After accepting the event (which works nicely) I want to try to update the event by sending another mail with another attached .ics file, but accepting the new file just adds a new  event and does not remove the old, outdated event. Of course I have double checked to see so that the uid are the same and that the sequ

[2021-11-04 17:02] Flowr-es commented on #182
nanoid is merged, can this be closed than?

[2021-11-10 13:24] stanool opened #201 "Classification (CLASS) attribute missing from VEVENT"
According to https://www.kanzaki.com/docs/ical/class.html the VEVENT block of an ICS file can have a single CLASS attribute representing the 'Classification' of the VEVENT (eg, public, private, confidential).

I believe this would be fairly straightforward to implement, eg, create a property `classification` on the `attributes` object in `formatEvent`, add
[code]
when building the ICS string, and

[2021-11-10 16:09] Flowr-es commented on #201
I also came across that this one seems to be missing

[2021-12-04 16:48] adamgibbons commented on #201
Closed with #203 - thanks @Flowr-es!

[2021-12-04 16:48] #201 closed

[2021-12-04 16:53] #188 closed

[2021-12-04 16:58] adamgibbons commented on #179
I don't think there's great support in calendar apps for supporting HTML in descriptions, but hopefully #200 gets you closer to your objective.

[2021-12-04 16:58] #179 closed

[2021-12-14 09:23] RikardF opened #204 "Nanoid not working in react native"
I get this error when trying to use ics in my react native project:

Solution for this?

[2022-01-14 09:42] DanielNoveo opened #205 "ValidationError on alarm passed"
I am not able to pass a description into alarm object
![image](https://user-images.githubusercontent.com/84327038/149493522-266c8b63-fc2f-4c91-8ecc-a511da2373bb.png)

And this field also is not described on Alarm interface
![image](https://user-images.githubusercontent.com/84327038/149493671-09529b45-6570-4c2a-a8b7-a0dda61b04bf.png)

But compiled JS seems trying to concat it
![image](https://user-

[2022-01-20 07:55] tedstriker opened #206 "Support for VTODO"
Are there plans to support task lists and its objects (VTODO) or is it even already supported and I just don't see it?

[2022-02-23 16:56] bishift opened #210 "RRULE placed after VALARM section"
Hello, I am currently having the following issue :

When I set a RRULE, it is placed at the very bottom of the VEVENT section, Outlook doesn't process properly the event recurrency.

To have Outlook processing it properly, the RRULE must be placed **before** the VALARM section (this is not documented, I just figured it out)

I create an ics file using these parameters :
[code]

The file obtained h

[2022-03-08 00:16] skaletaPL opened #211 "Type 'number[]' is missing the following properties from type '[number, number, number]': 0, 1, 2"
While using the example code I get error below
`const event = {
  start: [2018, 5, 30, 6, 30],
  duration: { hours: 6, minutes: 30 },
  title: 'Bolder Boulder',
  description: 'Annual 10-kilometer run in Boulder, Colorado',
  location: 'Folsom Field, University of Colorado (finish line)',
  url: 'http://www.bolderboulder.com/',
  geo: { lat: 40.0095, lon: 105.2669 },
  categories: ['10k races', 'M

[2022-04-24 23:25] DzymFardreamer opened #214 "Fix for the dir field of the organizer structure"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `ics@2.35.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-05-16 05:39] Chris112 commented on #197
For the use case where you're generating client side, you can use the popular library [downloadjs](https://www.npmjs.com/package/downloadjs) or create a simple utility function.

[code]

[2022-06-16 12:57] AntonSmatanik opened #218 "Package ics has dependency on lodash"
With dependency on lodash is bundle size becoming too big, could you rather use lodash-es which enables tree shaking?

[2022-06-25 04:51] Nits7029 commented on #199
@adamgibbons I am also stuck on this same issue, would be great if you guide me. Thanks

[2022-08-13 09:41] generalProf commented on #211
I faced this and found the solution to it.

The problem is, when you're setting the event variable, you write the start property like so:
`const event = {
    start: [0, 0, 0, 0, 0]
}`

Typescript will see "start" as number[] which is correct because it inferred the type, it's an array of numbers. But the createEvent method expects an array with 5 numbers like [Number, Number, Number, Number, Numb

[2022-08-13 17:38] igordanilovski commented on #205
Same for me, did you find any solution for this?

[2022-08-16 06:07] devboomtech opened #219 "How to exclude dates when repeating an event?"
How to exclude dates when repeating an event?

[2022-08-19 05:48] DanielNoveo commented on #205
Do jot even tried bro. I think it is lib issue)

[2022-08-22 18:15] TiE23 commented on #205
I've made a PR tackling this issue. But in the case it's not merged, a hack-around like this could help:

[code]

[2022-08-23 17:07] TiE23 commented on #210
@bishift, I opened a PR to fix this issue because it also affects me (#220). But in case you're still looking for a solution so many months later I'll share with you (and anyone else affected) my temporary fix I used that utilizes regex:

https://gist.github.com/TiE23/8c59eb7185ecc1ece9f002d684c95653

_I also include unit tests showing that it works._

Just take the iCal string that `createEvent()

[2022-08-27 18:02] #210 closed

[2022-08-27 18:02] #205 closed

[2022-08-27 18:04] #117 closed

[2022-08-27 18:05] adamgibbons commented on #124
Please reopen if not fixed by #220.

[2022-08-27 18:05] #124 closed

[2022-08-27 18:06] #132 closed

[2022-08-27 18:11] adamgibbons commented on #206
VTODO isn't currently supported, but I'd love to add support for it.

[2022-08-27 18:13] #175 closed

[2022-08-27 18:21] adamgibbons commented on #193
Should be resolved by switching from uuid to nano.

[2022-08-27 18:21] #193 closed

[2022-08-27 18:32] #214 closed

[2022-08-27 18:32] #182 closed

[2022-08-27 18:36] #126 closed

[2022-08-27 18:36] #197 closed

[2022-09-01 13:32] Jaysojitra13 opened #222 "Which parameter is being used to update existing event in calendar?"
Thank you so much for introducing this module. It is really helpful.

I have the below scenario, please tell me how to handle that:
- When the user booked an appointment at that time I'm creating one ics file with the below parameters. and we don't want end-user to confirm or reject the event. It will be 'accepted' by default. When a user clicks on "add to calendar" in Gmail then it will be create

[2022-09-02 08:37] Jaysojitra13 commented on #222
@adamgibbons I have one more question :

- I add a description key in the event object and it's previewed in google calendar on the web. But in mobile application description is not previewed. Every time it is empty.

Can you please help me with this?

[2022-09-13 17:58] getarun commented on #222
Check that you increment the sequence. See example on package first page.

`sequence | For sending an update for an event (with the same uid), defines the revision sequence number.`

[2022-09-14 04:54] Jaysojitra13 commented on #222
@getarun Thank you for the answer. I have also tried this by adding sequence parameters 0 (for the first time) and 1 (the second time). But it didn't work

[2022-10-13 12:35] vincenujib opened #223 "How to change the PRODID?"
I want to change the PRODID.

[2022-10-13 12:35] #223 closed

[2022-10-17 19:54] timothee-durand commented on #218
I can do this if you want (for the hacktoberfest 😃)

[2022-10-17 20:41] AntonSmatanik commented on #218
Yup, do it please :)

[2022-10-18 18:25] timothee-durand commented on #218
i check i think it's already done

[2022-10-21 10:39] derhyl opened #224 "Type issue for organizer attribute"
Hi,

It seems that you have a ts type issue on organizer Field.

This is your type definition
`
export type Person = {
  name?: string;
  email?: string;
  dir?: string;
};
`

This is the standard :
https://www.kanzaki.com/docs/ical/calAddress.html

It seems that email address is actually required.

In consequence, the ics generates but is not importable on google cal or outlook because it's consi

[2022-10-25 10:14] lukesolar commented on #46
Have calendar properties been implemented or considered?
I'm looking for a way to add:
BEGIN:VCALENDAR
...
**NAME:Testing
X-WR-CALNAME:Testing
DESCRIPTION:Testing
X-WR-CALDESC:Testing**
...
This way the user does not need to invent a name for the calendar themselves.

[2022-11-07 16:21] Algoritm211 commented on #199
Hello, this is not working only because at the end of generated file library generates one unnecessary empty line using `\n`. If you will remove it - it will work

[2022-11-28 21:07] jacobwise commented on #219
I got this working by appending the `EXDATE` to the `RRULE`

https://icalendar.org/iCalendar-RFC-5545/3-8-5-1-exception-date-times.html

Make sure you add a line break as it's a separate attribute to the event

[code]

[2022-11-30 10:18] mplayer78 opened #227 "Documentation does not cover using this package Client Side"

[2022-11-30 16:36] t1tdev commented on #185
I'm placing it in an Uint8Array typed array with a format of 'ics' and its not working